


/* header*/

.current {
  color: var(--accent-color);
}

.header-svg {
  margin-right: 10px;
}

.smartphone-link {
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: var(--paragrapf-color);
}
.header-item {
  display: block;
  box-sizing: border-box;
}

.header {
  background: var(--background-color);
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
  min-width: 307px;
  justify-content: space-between;
}

.header-nav {
  min-width: 294px;
  justify-content: space-between;
  align-items: center;
  margin-left: 93px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--h-color);
  padding-bottom: 25px;
  padding-top: 24px;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-link {
  width: 49px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: var(--transition);
  position: relative;
}
.current::after {
  content: "  ";
  display: flex;
  border-radius: 2%;
  transition: background-color 250ms linear;
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: var(--accent-color);
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--paragrapf-color);
  display: flex;
  align-items: center;
  margin-left: 30px;
  transition: var(--transition);
}

.header-address:hover,
.header-address:focus {
color: var(--accent-color);
}

/* hero*/



/*advantage */


/*what-are-we-doing*/



/*our_team*/



/*customers*/



/*footer*/


/*portfolio*/


/* modal */


    

 /* modal form */


  
    /* footer form */

    

